[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mypy = "*"

[dev-packages]
pytest = "*"
yapf = "*"

[requires]
python_version = "3.9"

[scripts]
yapf = "yapf -ri ."
lint = "mypy src tests"
test = "pytest"
pre_commit = "bash -c 'pipenv run yapf && pipenv run lint && pipenv run test'"
